{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>


body {
    background-image: url(https://external-preview.redd.it/qDkXmpCPNph733_aJXXKtLYSIjRm4x75gWjiNr5wUjQ.jpg?auto=webp&s=526c75cd0dbbd67eb40a8b5a05c2e141d5cdb6dc);
    background-size: 270%;
    height: 100vh;
    animation: bg-animation 200s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

</style>

<div class="form">
<div class="bg-img"></div>
{% if object %}

<h1>Edit {{object.name}}</h1>
{% else %}
<h1>Add Custom Fighter</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
</div>
{% endblock %}
