{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Delete your Custom Stage</h1>

  <h4>Are you sure you want to delete <span class="purple-text">{{ object.name }}</span>?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Good Riddance!" class="btn">
    <a href="{% url 'stages_detail' stage.id %}">Cancel</a>
  </form>


  <footer>
    <div class="icon-row">
      <a href="{% url 'characters_index' %}">
        <div class="column">
          <div class="icon img-1">
            <h1 class="icon-h1">Official Fighters</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'index' %}">
        <div class="column">
          <div class="icon img-5">
            <h1 class="icon-h1">Custom Fighters</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'fighters_create' %}">
        <div class="column">
          <div class="icon img-3">
            <h1 class="icon-h1">Create a Fighter</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'stages_index' %}">
        <div class="column">
          <div class="icon img-2">
            <h1 class="icon-h1">Stages</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'stages_create' %}">
        <div class="column">
          <div class="icon img-4">
            <h1 class="icon-h1">Create a Stage</h1>
          </div>
        </div>
      </a>
    </div>
    </footer>
{% endblock %}
