{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        color: white;
        background-image: url('https://cdn.discordapp.com/attachments/1131009072255213661/1132736676519755838/EboAX6dWAAA_Nj8_1.png');
        margin-top:-100px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
        height: 100vh;
        padding-top: 60px; 
    }

    .image-container {
        padding-top: 20px;
        max-width: 600px;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
    }

    .action-buttons {
        display: flex;
        gap: 40px; 
        margin-bottom: 20px; 
    }

    .action-buttons a {
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
    }

    .action-buttons a i {
        font-size: 64px;
        transition: color 0.3s ease;
    }

    .action-buttons a:hover i {
        color: rgb(93, 64, 118);
    }


    .content {
        text-align: center;
        margin-top: 20px;
    }

    .container h1 {
        font-size: 50px;
    }
    
    .container p {
        font-size: 30px;
    }
    .icon-row {
        margin-top: -50px;
    }

    @media (max-width: 768px) {
        .image-container {
            max-width: 100%;
        }
    }
</style>


<div class="container">
    <h1>{{ stage.name }}</h1>
    <div class="image-container">
        <img src="{{ stage.image }}" alt="Stage Image">
    </div>
    <div class="action-buttons">
        <a href="{% url 'stages_update' stage.id %}">
            <i class="las la-edit"></i>
        </a>
        <a href="{% url 'stages_delete' stage.id %}">
            <i class="las la-trash-alt"></i>
        </a>
    </div>
    <div class="content">
        <p>Series: {{ stage.series_name }}</p>
    </div>
</div>

<footer>
<div class="row">
  <a href="{% url 'characters_index' %}">
    <div class="column">
      <div class="icon img-1">
        <h1 class="icon-h1">Official Fighters</h1>
      </div>
    </div>
  </a>
  <a href="{% url 'index' %}">
    <div class="column">
      <div class="icon img-5">
        <h1 class="icon-h1">Custom Fighters</h1>
      </div>
    </div>
  </a>
  <a href="{% url 'fighters_create' %}">
    <div class="column">
      <div class="icon img-3">
        <h1 class="icon-h1">Create a Fighter</h1>
      </div>
    </div>
  </a>
  <a href="{% url 'stages_index' %}">
    <div class="column">
      <div class="icon img-2">
        <h1 class="icon-h1">Stages</h1>
      </div>
    </div>
  </a>
  <a href="{% url 'stages_create' %}">
    <div class="column">
      <div class="icon img-4">
        <h1 class="icon-h1">Create a Stage</h1>
      </div>
    </div>
  </a>
</div>
</footer>
{% endblock %}