{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .container h1{
        padding-top: 100px;
    }
</style>


<div class="index">
    <div class="container">
        <h1>Stage List</h1>
        <main class="gallery"> 
            <div class="row">
                {% for stage in stages %}
                <div class="card">
                    <a href="{% url 'stages_detail' stage_id=stage.id %}">
                        <img class="card-img" src="{{ stage.image }}" alt="Card image cap">
                    </a>
                    <div class="card-content">
                        <h3 class="'card-title">{{ stage.name }}</h3>
                        <p class="card-description">Series: {{ stage.series_name }}</p>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </main>
    </div>
</div>


{% endblock %}