{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.container h1{
    padding-top: 100px;
	color: white;
	font-size: 70px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
    

body {
  background-image: url(https://cdn.discordapp.com/attachments/1131009072255213661/1133057131852091465/ksjflkdsjfs.png);
  background-size: cover;
  background-position: center;
}


.img-1 {
  background-color: rgba(255, 242, 0, 0.568);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132835306442342420/icons8-super-smash-bros-64.png);
  background-position: center;
  background-size: 64px;
  opacity: 1;
}


.img-2 {
  background-color: rgba(255, 0, 204, 0.543);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132829416301547540/communityIcon_eza5jx6oght21_1_1.png);
  background-position: center;
  background-size: 64px;
}



.img-3 {
  background-color: rgba(0, 255, 21, 0.543);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132827797132423228/icons8-sword-66_3.png);
  background-position: center;
  background-size: 64px;
}

.img-4 {
  background-color: rgba(17, 0, 255, 0.475);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132829303814500392/communityIcon_eza5jx6oght21_1_2.png);
  background-position: center;
  background-size: 64px;
}

.img-5 {
  background-color: rgba(255, 0, 0, 0.454);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132822915319074817/icons8-sword-66.png);
  background-position: center;
  background-size: 64px;
}




</style>


<div class="index">
    <div class="container">
        <h1>Stage List</h1>
        <main class="gallery"> 
            <div class="row">
                {% for stage in stages %}
                <div class="card">
                    <a href="{% url 'stages_detail' stage_id=stage.id %}">
                        <img class="card-img" src="{{ stage.image }}" alt="Card image cap">
                    </a>
                    <div class="card-content">
                        <h3 class="'card-title">{{ stage.name }}</h3>
                        <p class="card-description">Series: {{ stage.series_name }}</p>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </main>
    </div>
</div>

<footer>
    <div class="icon-row">
      <a href="{% url 'characters_index' %}">
        <div class="column">
          <div class="icon img-1">
            <h1 class="icon-h1">Official Fighters</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'index' %}">
        <div class="column">
          <div class="icon img-5">
            <h1 class="icon-h1">Custom Fighters</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'fighters_create' %}">
        <div class="column">
          <div class="icon img-3">
            <h1 class="icon-h1">Create a Fighter</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'stages_index' %}">
        <div class="column">
          <div class="icon img-2">
            <h1 class="icon-h1">Stages</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'stages_create' %}">
        <div class="column">
          <div class="icon img-4">
            <h1 class="icon-h1">Create a Stage</h1>
          </div>
        </div>
      </a>
    </div>
    </footer>
{% endblock %}