{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Fighter List</h1>
<div class="container">
    <main class="gallery"> 
        <ul class="card-list"> 
            {% for fighter in fighters %}
            <li>
                <a href="{% url 'detail' fighter_id=fighter.id %}">
                    <figure class="card">
                        <img class="card-img" src="{{ fighter.image }}" alt="Card image cap">
                        <figcaption>
                            <h4>{{ fighter.name }}</h4>
                            <p>Series: {{ fighter.series_name }}</p>
                            <a href="{% url 'detail' fighter_id=fighter.id %}" class="btn">View</a>
                        </figcaption>
                    </figure>
                </a>
            </li>
            {% endfor %}
        </ul>
    </main>
</div>
{% endblock %}
