{% extends 'base.html' %}
{% load static %}
{% block content %}


    <h1>Fighter List</h1>
    <ul>
        {% for fighter in fighters %}
        <div class="card" style="width: 20rem;">
            <img class="card-top" src="{% static 'images/smashart/' %}{{ fighter.image }}" alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">{{ fighter.name }}</h5>
                <div class="card-text">
                    <p>Series: {{ fighter.series_name }}</p>
                    <a href="{% url 'detail' fighter_id=fighter.id %}" class="btn">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>



{% endblock %}