{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=Oswald&family=Playfair+Display&family=Roboto+Condensed:wght@300;400;700&display=swap');

 .welcome-heading {
    margin-bottom: 50px; /* Adjust this value to create the desired space */
    color: white;
    font-size: 90px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  #randomFightersCarousel {
    position: relative;
    width: 100%;
    max-width: 800px; 
    overflow: hidden;
    margin: 0 auto;
  }

  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    align-items: center; /* Center the buttons vertically */
  }

  .carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  #prevBtn,
  #nextBtn {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 64px;
    cursor: pointer;
  }

  #prevBtn i,
  #nextBtn i {
    color: white;
  }

  #prevBtn {
    margin-right: 20px; /* Adjust this value to move the left button more to the right */
  }

  #nextBtn {
    margin-left: 20px; /* Adjust this value to move the right button more to the left */
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10vw;
    margin-top: 50px;
    width: 70vw;
    padding: 20px;
    background-color: rgba(41, 33, 33, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  .about-container {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  max-width: 800px;
  margin: 0 auto; 
}

.about h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
}

.about p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 26px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 22px 11px;
  text-align: center;
}

.column {
  /* padding-left: 110px; */
  width: 20%;
  margin: 20px 0;
  padding: 50px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100px;
  width: 100px;
}

.img-1 {
  background-color: rgba(255, 242, 0, 0.265);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132835306442342420/icons8-super-smash-bros-64.png);
  background-position: center;
  background-size: 64px;
  opacity: 1;
}


.img-2 {
  background-color: rgba(255, 0, 204, 0.196);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132829416301547540/communityIcon_eza5jx6oght21_1_1.png);
  background-position: center;
  background-size: 64px;
}



.img-3 {
  background-color: rgba(0, 255, 21, 0.208);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132827797132423228/icons8-sword-66_3.png);
  background-position: center;
  background-size: 64px;
}

.img-4 {
  background-color: rgba(17, 0, 255, 0.269);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132829303814500392/communityIcon_eza5jx6oght21_1_2.png);
  background-position: center;
  background-size: 64px;
}

.img-5 {
  background-color: rgba(255, 0, 0, 0.247);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132822915319074817/icons8-sword-66.png);
  background-position: center;
  background-size: 64px;
}

.icon h1 {
  position: relative;
  z-index: 1;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon:hover {
  transform: scale(1.1)
}

.icon h1:hover {
  opacity: 1;
}

.icon img-1:hover {
  opacity: 0;
}

.row a {
  text-decoration: none;
}

</style>

<div id="header"></div>
<body>

<h1 class="welcome-heading">Welcome to SmashLabs</h1>



<!-- Start of carousel -->
<div id="randomFightersCarousel">
  <div class="carousel-container">
    {% for random_fighter in random_fighters %}
    <a href="{% url 'detail' fighter_id=random_fighter.id %}" class="carousel-item">
      <div class="card" style="width: 20rem;">
        <img class="card-img" src="{{ random_fighter.image }}" alt="{{ random_fighter.name }} Image">
        <div class="card-content">
          <h3 class="card-title">{{ random_fighter.name }}</h3>
          <p class="card-description">Series: {{ random_fighter.series_name }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

  <!-- Next and Previous buttons -->
  <div class="carousel-controls">
    <!-- Custom icon for "Previous" button -->
    <button id="prevBtn" onclick="prevSlide()">
      <i class="las la-chevron-circle-left" aria-hidden="true"></i> 
    </button>
  
    <!-- Custom icon for "Next" button -->
    <button id="nextBtn" onclick="nextSlide()">
      <i class="las la-chevron-circle-right" aria-hidden="true"></i> 
    </button>
  </div>
</div>
<div class="about">
  <div class="about-container">
    <p>Smash Labs is your gateway to the world of Super Smash Bros, where you can explore fighter details, stage information, and unleash your creativity by creating your own fighters and stages.</p>
    <br>
    <p>With our optimized SQL database, you can delve into the strengths and weaknesses of each character, strategize your gameplay, and find the perfect stage for epic battles.</p>
    <br>
    <p>But that's not all! Smash Labs empowers you to bring your ideas to life by designing custom fighters and stages. Unleash your imagination, share your creations with the community, and inspire others to join the fight!</p>
    <br>
    <p>Join us today and experience the ultimate platform for Super Smash Bros enthusiasts. Let's make the game even more extraordinary together.</p>
  </div>
</div>
<!-- Footer -->

<footer>
<div class="icon-row">
  <a href="{% url 'characters_index' %}">
    <div class="column">
      <div class="icon img-1">
        <h1 class="icon-h1">Official Fighters</h1>
      </div>
    </div>
  </a>
  <a href="{% url 'index' %}">
    <div class="column">
      <div class="icon img-5">
        <h1 class="icon-h1">Custom Fighters</h1>
      </div>
    </div>
  </a>
  <a href="{% url 'fighters_create' %}">
    <div class="column">
      <div class="icon img-3">
        <h1 class="icon-h1">Create a Fighter</h1>
      </div>
    </div>
  </a>
  <a href="{% url 'stages_index' %}">
    <div class="column">
      <div class="icon img-2">
        <h1 class="icon-h1">Stages</h1>
      </div>
    </div>
  </a>
  <a href="{% url 'stages_create' %}">
    <div class="column">
      <div class="icon img-4">
        <h1 class="icon-h1">Create a Stage</h1>
      </div>
    </div>
  </a>
</div>
</footer>





    <!-- Carousel JavaScript -->
    <script>
      let slideIndex = 0;
      const slides = document.getElementsByClassName('carousel-item');
      
      function showSlide(n) {
        slideIndex = (n + slides.length) % slides.length;
        const carousel = document.querySelector('.carousel-container');
        carousel.style.transform = `translateX(-${slideIndex * 100}%)`;
      }
      
      function prevSlide() {
        showSlide(slideIndex - 1);
      }
      
      function nextSlide() {
        showSlide(slideIndex + 1);
      }
    </script>


</body>


{% endblock %}
