{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    h1 {
        color: white;
    }

    p {
        color: rgb(255, 255, 255);
    }
    .container {
        padding-top: 75px;
    }

    .card {
        width: 300px;
        height: 450px;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: rgba(158, 142, 172, 0.212);
        backdrop-filter: blur(5px);
        margin: 10px;
        position: relative;
        display: inline-block;
    }

    .series-icon {
        width: 120px;
        height: 120px;
        background-image: url("{{ character.series.icon }}");
        opacity: 0.80;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .card-contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-contents .card-imgs {
        margin-bottom: 15px;
        width: 180px;
        height: 180px;
    }

    .card-contents h3 {
        margin-bottom: 10px;
        font-size: 30px; /* Increase font size for character name */
        color: azure; /* Change the color of the character name */
        font-weight: bold; /* Make the character name bold */
    }

    .card-contents p {
        margin: 0;
        font-size: 20px; /* Increase font size for series name */
        color: white; /* Change the color of the series name */
        font-style: italic; /* Make the series name italic */
    }

    .card-contents h3,
    .card-contents p {
        margin: 10px; /* Add margin to the character name and series to separate from the edges */
    }

    body {
        background-image: url('https://cdn.discordapp.com/attachments/1131009072255213661/1132740718646005780/djsklfjds_3.png');

    }

    @media (max-width: 768px) {
        body {
            background-color:  rgb(140, 125, 160);
            background-image: none; 
        }

        .container {
            width: 80vw;
            height: auto;
            display: block;
            padding-top: 0;
        }

        .card-contents {
            display: block;
        }

        .card-contents h3 {
            font-size: 18px;
        }

        .card-contents p {
            font-size: 16px;
        }
    }
</style>

<div class="container">
    <h1>Smash Ultimate Character List</h1>
    <main class="gallery">
        {% for character in characters %}
        <a href="{% url 'characters_detail' forloop.counter0 %}">
            <div class="card">
                <div class="series-icon" style="background-image: url('{{ character.series.icon }}');"></div>
                <div class="card-contents">
                    <img class="card-imgs" src="{{ character.images.portrait }}" alt="{{ character.name }} Image">
                    <figcaption>
                        <h3>{{ character.name }}</h3> 
                        <p>{{ character.series.name }}</p>
                    </figcaption>
                </div>
            </div>
        </a>
        {% endfor %}
    </main>
</div>




<footer>
    <div class="icon-row">
      <a href="{% url 'characters_index' %}">
        <div class="column">
          <div class="icon img-1">
            <h1 class="icon-h1">Official Fighters</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'index' %}">
        <div class="column">
          <div class="icon img-5">
            <h1 class="icon-h1">Custom Fighters</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'fighters_create' %}">
        <div class="column">
          <div class="icon img-3">
            <h1 class="icon-h1">Create a Fighter</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'stages_index' %}">
        <div class="column">
          <div class="icon img-2">
            <h1 class="icon-h1">Stages</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'stages_create' %}">
        <div class="column">
          <div class="icon img-4">
            <h1 class="icon-h1">Create a Stage</h1>
          </div>
        </div>
      </a>
    </div>
    </footer>
{% endblock %}

<!-- <script>
    const charactersPerPage = 12;
    const totalCharacters = {{ characters|length }};
    let currentPage = 1;
    
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const gallery = document.querySelector('.gallery');
    const cards = document.querySelectorAll('.card');

    function updateButtons() {
        if (currentPage === 1) {
            prevBtn.style.display = 'none';
        } else {
            prevBtn.style.display = 'block';
        }
        
        if (currentPage * charactersPerPage >= totalCharacters) {
            nextBtn.style.display = 'none';
        } else {
            nextBtn.style.display = 'block';
        }
    }

    function showPage(pageNumber) {
        const startIndex = (pageNumber - 1) * charactersPerPage;
        const endIndex = startIndex + charactersPerPage;
        
        cards.forEach((card, index) => {
            if (index >= startIndex && index < endIndex) {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        });
    }

    prevBtn.addEventListener('click', () => {
        currentPage--;
        showPage(currentPage);
        updateButtons();
    });

    nextBtn.addEventListener('click', () => {
        currentPage++;
        showPage(currentPage);
        updateButtons();
    });

    showPage(currentPage);
    updateButtons();
</script> -->

