{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    h1 {
        color: white;
    }

    p {
        color: rgb(255, 255, 255);
    }
    .container {
        padding-top: 75px;
    }

    .card {
        width: 300px;
        height: 450px;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: rgba(158, 142, 172, 0.212);
        backdrop-filter: blur(5px);
        margin: 10px;
        position: relative;
        display: inline-block;
    }

    .series-icon {
        width: 120px;
        height: 120px;
        background-image: url("{{ character.series.icon }}");
        opacity: 0.80;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .card-contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-contents .card-imgs {
        margin-bottom: 15px;
        width: 180px;
        height: 180px;
    }

    .card-contents h3 {
        margin-bottom: 10px;
        font-size: 30px; 
        color: azure; 
        font-weight: bold; 
    }

    .card-contents p {
        margin: 0;
        font-size: 20px; 
        color: white; 
        font-style: italic; 
    }

    .card-contents h3,
    .card-contents p {
        margin: 10px; 
    }

    body {
        background-image: url('https://cdn.discordapp.com/attachments/1131009072255213661/1132740718646005780/djsklfjds_3.png');

    }

    .img-1 {
  background-color: rgba(255, 242, 0, 0.772);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132835306442342420/icons8-super-smash-bros-64.png);
  background-position: center;
  background-size: 64px;
  opacity: 1;
}


.img-2 {
  background-color: rgba(255, 0, 204, 0.769);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132829416301547540/communityIcon_eza5jx6oght21_1_1.png);
  background-position: center;
  background-size: 64px;
}


.img-3 {
  background-color: rgba(0, 255, 21, 0.756);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132827797132423228/icons8-sword-66_3.png);
  background-position: center;
  background-size: 64px;
}

.img-4 {
  background-color: rgba(17, 0, 255, 0.763);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132829303814500392/communityIcon_eza5jx6oght21_1_2.png);
  background-position: center;
  background-size: 64px;
}

.img-5 {
  background-color: rgba(255, 0, 0, 0.756);
  background-image: url(https://media.discordapp.net/attachments/1131009279659360346/1132822915319074817/icons8-sword-66.png);
  background-position: center;
  background-size: 64px;
}

    @media (max-width: 768px) {
        body {
            background-color:  rgb(140, 125, 160);
            background-image: none; 
        }

        .container {
            width: 80vw;
            height: auto;
            display: block;
            padding-top: 0;
        }

        .card-contents {
            display: block;
        }

        .card-contents h3 {
            font-size: 18px;
        }

        .card-contents p {
            font-size: 16px;
        }
    }
</style>

<div class="container">
    <h1>Smash Ultimate Character List</h1>
    <main class="gallery">
        {% for character in characters %}
        <a href="{% url 'characters_detail' forloop.counter0 %}">
            <div class="card">
                <div class="series-icon" style="background-image: url('{{ character.series.icon }}');"></div>
                <div class="card-contents">
                    <img class="card-imgs" src="{{ character.images.portrait }}" alt="{{ character.name }} Image">
                    <figcaption>
                        <h3>{{ character.name }}</h3> 
                        <p>{{ character.series.name }}</p>
                    </figcaption>
                </div>
            </div>
        </a>
        {% endfor %}
    </main>
</div>




<footer>
    <div class="icon-row">
      <a href="{% url 'characters_index' %}">
        <div class="column">
          <div class="icon img-1">
            <h1 class="icon-h1">Official Fighters</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'index' %}">
        <div class="column">
          <div class="icon img-5">
            <h1 class="icon-h1">Custom Fighters</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'fighters_create' %}">
        <div class="column">
          <div class="icon img-3">
            <h1 class="icon-h1">Create a Fighter</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'stages_index' %}">
        <div class="column">
          <div class="icon img-2">
            <h1 class="icon-h1">Stages</h1>
          </div>
        </div>
      </a>
      <a href="{% url 'stages_create' %}">
        <div class="column">
          <div class="icon img-4">
            <h1 class="icon-h1">Create a Stage</h1>
          </div>
        </div>
      </a>
    </div>
    </footer>
{% endblock %}

