
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#header {
  position: relative;
  width:100%;
  height: 100vh;
  padding-top: 20px;
  background-image: url(https://cdn.discordapp.com/attachments/1131009072255213661/1131722130011209769/smashlabs-logo.png);
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  padding: 100px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: black;
  background-image: url(https://free4kwallpapers.com/uploads/originals/2018/11/03/kirby-in-smash-wallpaper.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  font-size: 80px;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #000000;
  color: #ffffff; 
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-size {
  flex: 1;
  width: 20vw;
  height: auto;
}

body {
  text-align: center;
  animation: bg-animation 5s infinite alternate;
}

main h2 {
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  color: white;
}

h4 {
  max-width: 350px;
}

img {
  max-width: 350px;
}

ul {
  list-style: none;
}

figure {
  flex-basis: calc(33.33% - 1rem);
  transition: transform .2s;
  max-width: 350px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 450px;
  position: relative;
  backdrop-filter: brightness(30%); /* Adjust the brightness value for desired darkness */
  border-radius: 10px;
}

figure img {
  padding-top: 30px;
  max-height: 300px;
}

figure h4 {
  font-size: 20px;
  margin: 1rem 1rem;
  font-family: 'Cinzel', serif;
}

figure p {
  margin: 1rem 1rem;
  padding-bottom: 5px;
}

figure:hover {
  box-shadow: -10px 0 20px rgba(255, 0, 0, 0.301),
              10px 0 20px rgba(255, 0, 0, 0.301);
  transform: scale(1.1);
}

p {
  color: white;
  font-size: 20px;
}

.btn {
  color: white;
  background-color: #000000;
}

.btn:hover {
  background-color: #2c2c2c;
  color: #ffffff;
  transform: scale(1.1);
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 2rem;
}

@media only screen and (max-width: 1500px) {
  figure {
      flex-basis: calc(33.33% - 1rem);
      margin-bottom: 2rem;
      max-width: 250px;
      height: 450px;
  }

  figure img {
      padding-top: 30px;
      max-width: 200px;
      max-height: 200px;
  } 
  figure h4 {
      font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  figure {
      flex-basis: calc(33.33% - 1rem);
      margin-bottom: 2rem;
      max-width: 150px;
      height: 300px;
  }

  figure img {
      padding-top: 10px;
      max-width: 140px;
      max-height: 140px;
  } 
} */

.container {
  padding: 1rem;
}

.gallery {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

a {
  color: black;
  text-decoration: none;
}

.card {
  border: 2px solid rgb(0, 0, 0);
  flex: 1;
  width: 25vw;
  max-width: 300px;
  position: relative;
  margin: 1rem 0;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  min-width: 150px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.card-img {
  width: 100%;
  min-width: 150px;
  border-radius: 8px 8px 0 0;
  transition: transform 0.5s ease;
}

.card:hover .card-img {
  transform: scale(1.15);
}

.card h4 {
  font-size: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: azure;
}




/* navbar */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  color: white;
  font-size: 39px;
  display: block;
  padding: 20px;
}

header a:hover {
  color: rgb(147, 137, 194);
}


/* .navbar {
  position: relative;
  padding: 0 2rem;
  color: white;
  width: 100%;
  height: 60px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}



.logo {
  width: 50px;
  padding-left: 30px;
  padding-top: 20px;
}

.logo img {
  width: 50px;
}


.navbar a:hover {
  color: #9aa0cf;

}

.navbar .links {
  display: flex;
  gap: 2rem;
} */

/*

.navbar .menu {
  color: white;
  font-size: 25px;
  display: none;
  cursor: pointer;
} */





/* dropdown */


/* .dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: #ffffff2c;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  overflow: hidden;
  transition: height ;
}

.dropdown_menu li {
  padding: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu.open {
  height: 240px;
} */





/* Responive */

/* @media (max-width: 950px) {
  .navbar .links {
    display: none;
  }
  
  .navbar .menu {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
} */

/* 
@media (max-width: 1090px) {
  #menu-icon {
      display: block;
  }
  img {
      position: fixed;
  }
  .navbar {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 270px;
      height: 16vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
  }

  .navbar a {
      display: block;
      margin: 12px 0;
      padding: 0px 25px;
      transition: all .50s ease;
  }
  
  .navbar a:hover {
      color: #e9dcff;
      transform: translateY(5px);
  }
  .navbar.open {
      right: 2%;
      z-index: 1000;
  }
} */




/*  */


/* 
.navbar {
    display: flex;
    padding-right: 170px;
}
.navbar a {
    color: var(--primary-color);
    font-size: 25px;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover {
    color: var(--secondary-color);

}

#menu-icon {
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    color: var(--primary-color);
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar {
        padding-right: 0px;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 16vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    
    .navbar a:hover {
        color: var(--secondary-color);
        transform: translateY(5px);
    }
    .navbar.open {
        right: 2%;
    }
} */



/* Hamburger Menu */



/* 
.hamburger{
  display:none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

@media(max-width:768px){
  .hamburger{
      display: block;
  }

  .hamburger.active .bar:nth-child(2){
      opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
      position:fixed;
      left: -100%;
      top: 70px;
      gap:0;
      flex-direction: column;
      background-color: rgba(160, 165, 198, 0.477);
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }

  .nav-item{
      margin: 16px 0;
  }

  .nav-menu.active{
      left: 0;

  }
} */

/* FORM */

.form {
  text-align: center;
  color: white;
  backdrop-filter: blur(20px); 
  background-color: rgba(255, 255, 255, 0.05); 
  padding: 10px; 
  border-radius: 10px;
  max-width: 50vw;
  margin: 50px auto 0 auto; 
} 

.form h1 {
  font-size: 72px;
  color:white;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 20px;
  height: 14vh;
  margin-bottom: 2rem;
}

form {
  width: 45%;
  margin: 0 auto 2rem auto;
}

table {
  width: 100%;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: white;
}

.table-container {
  width: 800px;
}

form textarea {
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 26px;
}

input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 18px; 
  font-size: 30px; 
}

input[type="submit"]:hover {
  background-color: #000000;
  color: #ffffff;
  border: none;
}


/* Add these CSS rules to your existing stylesheet */

.container {
  padding: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px; /* Increase the margin-bottom to add more spacing between rows */
}

.card {
  border: 2px solid rgb(0, 0, 0);
  flex: 1;
  width: calc(33.33% - 20px); /* 3 columns with 20px gap between cards */
  max-width: 350px; /* Increase the maximum width of the cards */
  height: 450px; /* Increase the height of the cards */
  position: relative;
  margin: 1rem 0;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.card-img {
  width: 100%;
  height: 70%; /* Adjust the height of the image within the card */
  object-fit: cover; /* To maintain the aspect ratio of the image */
  border-radius: 8px 8px 0 0;
  transition: transform 0.5s ease;
}

.card:hover .card-img {
  transform: scale(1.15);
}

.card-content {
  padding: 10px; /* Add padding for content within the card */
  margin-top: 10px; /* Add margin between the image and the card content */
}

.card h4 {
  font-size: 20px; /* Increase font size for fighter name */
  color: azure;
  margin-bottom: 10px; /* Add more margin below the fighter name */
}

.card p {
  font-size: 15px; /* Adjust font size for series name */
  color: cyan; /* Change the color of the series name to cyan */
  margin-bottom: 10px; /* Add more margin below the series name */
}

/* Adjust media queries as per your requirements */
@media only screen and (max-width: 1200px) {
  .card {
      width: calc(50% - 20px); /* 2 columns with 20px gap between cards */
  }
}

@media only screen and (max-width: 600px) {
  .card {
      width: calc(100% - 20px); /* 1 column with 20px gap between cards */
  }

}