{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Fighter List</h1>
<div class="container">
    <main class="gallery">
        {% for character in characters %}
        <a href="{% url 'characters_detail' forloop.counter0 %}">
            <div class="card">
                <figure>
                    <img class="card-img" src="{{ character.images.portrait }}">
                    <figcaption>
                        <h3>{{ character.name }}</h3> 
                        <p>Series: {{ character.series.name }}</p>
                    </figcaption>
                </figure>
            </div>
        </a>
        {% endfor %}
    </main>
</div>
{% endblock %}
