{% extends 'base.html' %}
{% block content %}

<body>
    <h1>Welcome to SmashLabs</h1>
    <a href="{% url 'index' %}"><h3>View Fighters</h3></a>
    <a href=""><h3>View Stages</h3></a>
    <a href=""><h3>Create</h3></a>
    <a href=""><h3></h3></a>
    <a class="nav-link" href="{% url 'about' %}" style="color: white;">Learn More</a>

    <h2>Random Fighter:</h2>
    <img src="{{ random_fighter.image }}" alt="{{ random_fighter.name }} Image">
    <h3>{{ random_fighter.name }}</h3>
    <p>Series: {{ random_fighter.series_name }}</p>


    {% for fighter in fighters %}
    <img src="{{ fighter.image }}" alt="{{ fighter.name }}">
    <h2>{{ fighter.name }}</h2>
{% endfor %}



</body>

{% endblock %}